body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 3em;
}
.nav__bar {
  padding: 0 2em;
  display: inline-block;
  justify-content: center;
  width: calc(100% - 4em);
}
.title {
  float: left;
  background-color: red;
}
.social__logos {
  width: 2em;
  height: 2em;
}
.nav__bar__links {
  padding: inherit;
  float: right;
  height: 100%;
  align-items: center;
  display: inline-flex;
  background-color: green;
}
.content {
  padding: 1em 2em;
}
.footer {
  padding: 1em;
  text-align: center;
  background-color: #777777;
}
.footer h4 {
  line-height: 25%;
}
