body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
a {
  text-decoration: none;
  color: inherit;
}
.hero__image {
  width: 100%;
  max-height: 75vh;
  position: absolute;
  z-index: -1;
}
.spacer {
  height: 55vh;
}
.nav__bar {
  padding: 0 2em;
  padding-top: .5em;
  height: 20vh;
  width: calc(100% - 4em);
}
.nav__bar ul {
  list-style-type: none;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
  overflow: hidden;
}

.nav__bar li {
  vertical-align: middle;
  float: left;
}
.nav__bar__links {
  justify-content: center;
  align-self: flex-end;
  margin: auto;
  margin-left: auto;
  margin-right: 0;
}
.nav__bar li a {
  display: block;
  font-size: 1.5em;
  font-weight: 300;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav__bar li a:hover {
  opacity: 70%;
}
.social__logos {
  height: 3vh;
  width: 3vh;
}
.content {
  padding: 1em 2em;
}
.footer {
  padding: 2em;
  padding-bottom: 3.5em;
  text-align: center;
}
.contact__footer {
  margin: 4em 0;
}
.footer h4 {
  line-height: 20%;
}
.active {
  border-bottom: 1px solid black;
}
.active:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}
.photo__info {
  display: grid;
  grid-template: ". . . title desc . . .";
  grid-column-gap: 4em;
}
.photo__title {
  font-size: 3em;
  grid-area: title;
}
.photo__desc {
  font-size: 2em;
  grid-area: desc;
}
.portfolio__nav{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
